<p id="notice"><%= notice %></p>

<h1><%= link_to "Scarfdom", root_path %></h1>
<%= paginate @items, window: 2 %>        <%= page_entries_info @items, entry_name: 'scarf' %>
<p></p>
<hr/>
<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <table>
          <tr>
            <td>
              <table>
                <tr><td>
                  <span class="scarf-name" >
                    <%= item.name    %>
                  </span>
                </td>
                <td>
                  <%= render partial: "user_item", locals: { user_data: item.user_data } %>
                </td>
              </tr>
              </table>
          <tr>
            <td>
              <p><%= image_render(item.images[0]&.image_url) %></p>
              <p><%= image_render(item.images[1]&.image_url) %></p>
            </td>
          </tr>
      </table>
      </tr>
      <% end %>
  </tbody>
</table>

<br>
<%= paginate @items, window: 2 %>
<%= link_to 'New Item', new_item_path %>
