<p id="notice"><%= notice %></p>

<h1><%= link_to "Scarfdom", root_path %></h1>
<%= paginate @items, window: 2 %>        <%= page_entries_info @items, entry_name: 'scarf' %>
<p></p>
<hr/>
<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <table>
          <tr>
            <td>
            <ul class="notification-badges" >
              <%= link_to item.name, item, {class: "scarf-name"}   %>
              <% if num_owned = own_count(item) %>
                <li data-badge=<%= num_owned %> >own</li>
              <% end %>
              <% if trade = trade(item) %>
                <li >trade</li>
              <% end %>
              <% if want = want(item) %>
                <li>want</li>
              <% end %>
              <% if hide = hide(item) %>
                <li>hide</li>
              <% end %>
            </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p><%= image_render(item.images[0]&.image_url) %></p>
              <p><%= image_render(item.images[1]&.image_url) %></p>
            </td>
          </tr>
      </table>


          <% if false %>
            <td>
              <p><%= link_to 'Edit', edit_item_path(item) %></p>
              <p><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @items, window: 2 %>
<%= link_to 'New Item', new_item_path %>
