<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <table>
    <tbody>
      <% @item.images.each do |image| %>
        <tr>
          <td><%= image_tag(image.image_url, alt: image.name, class: 'scarfimage') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <strong>Body:</strong>
  <%= @item.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
