<p id="notice"><%= notice %></p>

<h1>Images</h1>

<table>
  <thead>
    <tr>
      <th>Attributes</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <ul>
            <li>id: <%= image.item_id %></li>
            <li>user_id: <%= image.user_id %></li>
            <li>name: <%= image.name %></li>
            <li>status: <%= image.status %></li>
          </ul>
        </td>
        <td>
          <p><%= image_render(image.image_url) %></p>
        </td>
        <td><%= link_to 'Show', image %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
