<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @image.item_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @image.status %>
</p>

<p>
  <%= image_render(@image.image_url) %>
</p>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
